
	<script src="/content/js/bootstrap.min.js"></script>
	<script src="/content/js/bootstrap-tab.js"></script>
	<script src="/content/js/bootstrap-dropdown.js"></script>
	<script src="/content/js/bootstrap-rowlink.js"></script>
    {% for js in js_list %}
        	<script src="/content/js/{{ js }}"></script>
    {% endfor %}
    <script type="application/javascript">
        $("#success_msg").delay(200).addClass("in").fadeOut(4000);
        $('tbody.rowlink').rowlink();
    </script>

</div><!--ed of page container-fluid -->

</body>
</html>
